.announcement-banner {
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation-duration: 1s;
}

.announcement-banner.top {
    top: 0;
}

.announcement-banner.bottom {
    bottom: 0;
}

.announcement-banner p {
    margin: 0;
    display: inline;
    font-size: inherit;
}

.announcement-banner .banner-button {
    margin-left: 15px;
    padding: 5px 10px;
    background-color: transparent;
    text-decoration: none;
    border-radius: 3px;
    font-size: inherit;
    transition: background-color 0.3s, color 0.3s;
}

.announcement-banner .banner-button:hover {
    background-color: #555; /* Replace with your hover color */
    color: #fff; /* Replace with your hover text color */
}

.announcement-banner .close-banner {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

/* Animation Effects */
.fade-in {
    animation-name: fadeIn;
}

.slide-in {
    animation-name: slideIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
